[Unit]
Description=Flask app exposing tensorflow lite model on the Coral USB stick
After=network.target network-online.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/bin/python3 -u coral-detect-objects.py
WorkingDirectory=/home/pi/Documents/coral-pi-rest-server
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target